<div class="list-group">
      <button class="list-group-item" [ngClass]="{'active': category==0}" (click)="filterByCategory('')">All Categories</button>
      <button class="list-group-item" [ngClass]="{'active': category==1}" (click)="filterByCategory(1)">Category 1</button>
      <button class="list-group-item" [ngClass]="{'active': category==2}" (click)="filterByCategory(2)">Category 2</button>
      <button class="list-group-item" [ngClass]="{'active': category==3}" (click)="filterByCategory(3)">Category 3</button>
</div>